@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

html, body {
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #666, #222);
}

svg {
    fill: #3ab5e2;
}

#banner {
    grid-area: banner;
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#banner h1 {
    font-size: 80px;
    margin: 10px auto;
}

#banner h2 {
    margin: 10px auto;
}

#banner div {
    margin-top: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#banner div svg {
    fill: #fff;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

#banner div a {
    position: relative;
}

#about {
    grid-area: about;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.section {
    display: flex;
    width: 56%;
    flex-direction: column;
    padding-bottom: 80px;
}

.section h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 30px auto 40px 0px;
    color: #45cdff;
}

.section img.wrap {
    float: left;
    height: auto;
    width: 200px;
    margin-right: 20px;
}

.section p {
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 20px 0px;
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 40px;
}

.grid.centered {
    align-items: center;
}

.grid img {
    width: 100%;
    height: auto;
}

.skill {
    display: flex;
    flex-direction: column;
}

.skill svg {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.skill h2 {
    font-size: 18px;
    color: #45cdff;
}

.skill p {
    font-size: 14px;
}

.work .timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work .timeline h1 {
    font-size: 16px;
    opacity: 0.9;
    margin: 10px 20px 10px 0;
}

.work .timeline div {
    position: relative;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}

.work .timeline div.last::after {
    content: ' ';
    position: absolute;
    top: -4px;
    left: 100%;
    width: 10px;
    height: 10px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    transform:  translateX(-12px) rotate(45deg);
}

.work h1 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0 5px 0;
    color: #45cdff;
}

.work h2 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px 0 30px 0;
    color: #888;
}

.carousel {
    position: relative;
    list-style: none;
    padding: 0;
    height: 500px;
    margin-bottom: 200px;
}

.carousel .slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    width: auto;
    display: none;
    transition: opacity 0;
}

.carousel .slide h2 {
    font-size: 24px;
    color: #45cdff;
    margin-top: 80px;
    margin-bottom: 20px;
}

.carousel .slide p {
    font-size: 20px;
}

.carousel .slide img {
    height: 400px;
    width: auto;
}

.carousel input {
    opacity: 0;
}

.carousel .indicator {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 410px 5px 0 5px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #fff;
}

.activator:nth-of-type(1):checked ~ .slide:nth-of-type(1) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(1):checked ~ .controls:nth-of-type(1) { display: block; }
.activator:nth-of-type(1):checked ~ .indicators .indicator:nth-of-type(1) { background-color: #45cdff; }
.activator:nth-of-type(2):checked ~ .slide:nth-of-type(2) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(2):checked ~ .controls:nth-of-type(2) { display: block; }
.activator:nth-of-type(2):checked ~ .indicators .indicator:nth-of-type(2) { background-color: #45cdff; }
.activator:nth-of-type(3):checked ~ .slide:nth-of-type(3) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(3):checked ~ .controls:nth-of-type(3) { display: block; }
.activator:nth-of-type(3):checked ~ .indicators .indicator:nth-of-type(3) { background-color: #45cdff; }
.activator:nth-of-type(4):checked ~ .slide:nth-of-type(4) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(4):checked ~ .controls:nth-of-type(4) { display: block; }
.activator:nth-of-type(4):checked ~ .indicators .indicator:nth-of-type(4) { background-color: #45cdff; }
.activator:nth-of-type(5):checked ~ .slide:nth-of-type(5) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(5):checked ~ .controls:nth-of-type(5) { display: block; }
.activator:nth-of-type(5):checked ~ .indicators .indicator:nth-of-type(5) { background-color: #45cdff; }
.activator:nth-of-type(6):checked ~ .slide:nth-of-type(6) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(6):checked ~ .controls:nth-of-type(6) { display: block; }
.activator:nth-of-type(6):checked ~ .indicators .indicator:nth-of-type(6) { background-color: #45cdff; }
.activator:nth-of-type(7):checked ~ .slide:nth-of-type(7) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(7):checked ~ .controls:nth-of-type(7) { display: block; }
.activator:nth-of-type(7):checked ~ .indicators .indicator:nth-of-type(7) { background-color: #45cdff; }
.activator:nth-of-type(8):checked ~ .slide:nth-of-type(8) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(8):checked ~ .controls:nth-of-type(8) { display: block; }
.activator:nth-of-type(8):checked ~ .indicators .indicator:nth-of-type(8) { background-color: #45cdff; }
.activator:nth-of-type(9):checked ~ .slide:nth-of-type(9) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(9):checked ~ .controls:nth-of-type(9) { display: block; }
.activator:nth-of-type(9):checked ~ .indicators .indicator:nth-of-type(9) { background-color: #45cdff; }
.activator:nth-of-type(10):checked ~ .slide:nth-of-type(10) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(10):checked ~ .controls:nth-of-type(10) { display: block; }
.activator:nth-of-type(10):checked ~ .indicators .indicator:nth-of-type(10) { background-color: #45cdff; }
.activator:nth-of-type(11):checked ~ .slide:nth-of-type(11) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(11):checked ~ .controls:nth-of-type(11) { display: block; }
.activator:nth-of-type(11):checked ~ .indicators .indicator:nth-of-type(11) { background-color: #45cdff; }
.activator:nth-of-type(12):checked ~ .slide:nth-of-type(12) { display: block; animation: fadeIn 0.5s; }
.activator:nth-of-type(12):checked ~ .controls:nth-of-type(12) { display: block; }
.activator:nth-of-type(12):checked ~ .indicators .indicator:nth-of-type(12) { background-color: #45cdff; }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
