@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

html, body {
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

svg {
    fill: #3ab5e2;
}

#nav {
    height: 60px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav .links {
    margin: auto;
    display: flex;
    flex-direction: row;
}

#nav .links a {
    margin: 0 30px;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #45cdff;
}

#banner {
    grid-area: banner;
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom right, #a5b72f, #3ab5e2);
}

#banner canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#banner h1 {
    font-size: 80px;
    margin: 10px auto;
}

#banner h2 {
    margin: 10px auto;
}

#banner div {
    margin-top: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#banner div svg {
    fill: #fff;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

#banner div a {
    position: relative;
}

#about {
    grid-area: about;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding-top: 80px;
}

.section {
    display: flex;
    width: 56%;
    flex-direction: column;
    padding-bottom: 80px;
}

.section h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin: 30px auto 40px 0px;
    color: #45cdff;
}

.section img {
    float: left;
    height: auto;
    width: 200px;
    margin-right: 20px;
}

.section p {
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 20px 0px;
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 40px;
}

.grid.centered {
    align-items: center;
}

.grid img {
    width: 100%;
    height: auto;
}

.skill {
    display: flex;
    flex-direction: column;
}

.skill svg {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.skill h2 {
    font-size: 18px;
    color: #45cdff;
}

.skill p {
    font-size: 14px;
}

.work .timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work .timeline h1 {
    font-size: 16px;
    opacity: 0.9;
    margin: 10px 20px 10px 0;
}

.work .timeline div {
    position: relative;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}

.work .timeline div.last::after {
    content: ' ';
    position: absolute;
    top: -4px;
    left: 100%;
    width: 10px;
    height: 10px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    transform:  translateX(-12px) rotate(45deg);
}

.work h1 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0 5px 0;
    color: #45cdff;
}

.work h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px 0 30px 0;
    color: #888;
}

.slide {
    overflow: hidden;
    position: relative;
}

.slide2  {
    position: absolute;
    animation: slide 10s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
}

.slide2 img:nth-child(1) { animation-delay: 5s; }
.slide2 img:nth-child(2) { animation-delay: 0s; }

@keyframes slide {
    25% { opacity: 1; }
    40% { opacity: 0; }
}
